h2 {
    text-align: center;
    font-size: 22px;
    color: var(--azul);
    margin-bottom: 20px;
}

#container-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 300px;
    border: 1px solid var(--preto);
    border-radius: 20px;
}

#container-botao {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.alerta {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: var(--vermelho);
}

@media (max-width: 600px) {

    #container-input {
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        width: 382px;
    }

}

@media (max-width: 540px) {

    input {
        width: 322px;
    }

}

@media (max-width: 400px) {

    input {
        width: min-content;
    }

}